<!DOCTYPE html>
<html>
    <head>
        <style></style>
        <!--THE WINDOW-->
        {% load static %}
        <script src= "{% static "/scripts/generate_quiz_html.js" %}"></script>
        <script src="https://cdn.jsdelivr.net/npm/latex.js/dist/latex.js"></script>
        <!--Include AJAX-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    </head>
    <body>
    
    {% load static %}
    <script type = "text/javascript">
            let request = $.ajax({
                type: "GET",
                async: false,
                headers:{'X-CSRFToken': "{{csrf_token}}"},
                url: "/fetch_attachments_inputs/{{question_id}}/{{part}}",
                dataType: 'json'
            });
            request.done(function(data){
                console.log("request done!");
                console.log(data);
                let filenames = [];
                let urls = [];
                console.log("attempting to add...");
                for(const attachment of data["attachments"]){
                    filenames.push(attachment["filename"]);
                    urls.push(attachment["url"]);
                }
                generate_latex(data["input"], filenames, urls, {{width}});

                 // Ideally the target origin would be specified,
                 // however, this is left out since no sensitive data
                 // is being sent and to make testing easier
                rs = new ResizeObserver((entries) => {
                    for (const entry of entries) {
                        window.postMessage("message");
                }});

                rs.observe(document.body);
            });
    </script>
    </body>
</html>
